<h1>Add new post</h1>

<%= form_with model: @post do |form| %>

  <p>
    <%= form.label "title", "Title" %>
    <%= form.text_field "title" %>
  </p>

  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>

  <p>
    <%= form.label "posted_on" %>
    <%= form.date_field "posted_on" %>
  </p>

  <%= form.hidden_field "place_id" %>
  <%= form.submit "Post it! "%>
  
<% end %>

<p><a href="/places">Giveup new post</a></p>